<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CalvingPredict.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <CalvingPredict.Properties.Settings>
            <setting name="Date_interval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>1960tix@gmail.com</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>jcomkfnuzmtnkktt</value>
            </setting>
            <setting name="emails" serializeAs="String">
                <value>1960tix@gmail.com</value>
            </setting>
            <setting name="email_sender" serializeAs="String">
                <value>info@cattlescan.ca</value>
            </setting>
            <setting name="email_subject" serializeAs="String">
                <value>Predict CattleScan</value>
            </setting>
            <setting name="InputDataSoure" serializeAs="String">
                <value>database</value>
            </setting>
            <setting name="PredictInterval" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="FactorMax" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="TimeIntervalPredict" serializeAs="String">
                <value>1</value>
            </setting>
        </CalvingPredict.Properties.Settings>
    </applicationSettings>
<connectionStrings><add name="DB_A4A060_csEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=193.27.73.63;initial catalog=DB_A4A060_cs;persist security info=True;user id=Administrator;password=Nikita25;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>